* {
    padding: 0;
    margin: 0;
}

.home_body {
    width: 90%;
    height: 1000px;
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.board_card {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    border: 1px solid black;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
    margin: 5px;
}
.board_card > p:nth-of-type(1) {
    font-size: 25px;
    font-weight: bold;
}
.board_card > div {
    height: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.board_card > p:nth-of-type(2) {
    font-weight: bold;
    float: right;
}